{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-narrow">

        <div class="masthead">
            <h3 class="muted">Battlerite player stats</h3>
        </div>

        <hr>

        <div class="container">
            <h1>Search player stats</h1>
            <p class="lead">Look up player stats, recent matches</p>
            <div class="row">
                <div class="col-sm-8">
                    <div class="input-group">
                        {{ form_start(form) }}
                        {{ form_widget(form.PlayerName) }}
                        {{ form_widget(form.save) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

        {% if playerData %}
            <hr>
            <div class="row-fluid marketing">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <img class="media-object" src="http://via.placeholder.com/64x64">
                                </div>
                                <div class="media-body">
                                    <h4>{{ playerData.name }}</h4>
                                    <p>Picture {{ playerData.picture }}</p>
                                    <p>Title {{ playerData.title }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        {% if matchesData %}
            <hr>
            <div class="row-fluid marketing">
                <div class="container-fluid">
                    {% for match in matchesData %}
                        <div class="row spaced-row">
                            <div class="col-sm-12 {{ match.hasPlayerWon(playerData.id) ? 'bg-success' : 'bg-danger' }}">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <img class="media-object" src="http://via.placeholder.com/64x64">
                                    </div>
                                    <div class="media-body">
                                        <h4>{{ match.map.type }}</h4>
                                        <time class="timeago pull-right" datetime="{{ match.createdAt|date('c') }}"></time>
                                        {% for participant in match.participants %}  {#todo, replace by helper method #}
                                            {% if participant.userID == playerData.id %}
                                                <p>Champion {{ participant.actor }}</p>
                                                <p>Score {{ participant.score }}</p>
                                                <p>K/D {{ participant.kills }}/{{ participant.deaths }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="footer">
            <p>&copy; Peter Ton {{ 'now'|date('Y') }}</p>
        </div>

    </div> <!-- /container -->
{% endblock %}